<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Collection</title>

</head>

<body>

<div class="container pt-5">
<div class="row">
  <div class="col-6"><h1>Book Collection</h1></div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
    <div class="col">
      <a href="/circulation" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #13274F; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
          <div class="card-body">
            <h5 class="card-title" style="color:white;"><strong>Circulation Section
</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between">
              <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
            </div>
          </div>
        </div>
      </a>
    </div>

    
    <div class="col">
      <a href="/filipiniana" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #0066b2; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
          <div class="card-body">
            <h5 class="card-title" style="color:white;"><strong>Filipiniana Section
</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between">
              <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col"> <a href="/fiction" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #0076CE; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px" >
          <div class="card-body">
            <h5 class="card-title" style="color: white"><strong>Fiction Section</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between"> <span class="text-center pl-2"
                style="font-size: 2rem; color:white;"></span> </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col"> <a href="/reference" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #5D76A9; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
          <div class="card-body">
            <h5 class="card-title" style="color: white;"><strong>Reference Section</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between"><span class="text-center pl-2"
                style="font-size: 2rem; color: white;"></span> </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>
</body>

</html>