<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  <h1 class="pt-5">Dashboard</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-5 text-center">
    <div class="col">
      <a href="/bookcollection" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-primary mb-3 text-white" style="background-color: #7CB9E8; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
          <div class="card-body">
            <h5 class="card-title" style="color:black"><strong>Book Collections</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between text-center">
              <i class="bi bi-duffle" style="font-size: 3rem; color:black;"></i>
              <span class="text-center pl-2" style="font-size: 2rem; color:black"></span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/avm" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #72A0C1; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
          <div class="card-body">
            <h5 class="card-title" style="color:black;"><strong>AVM Collections</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between">
              <i class="bi bi-cassette" style="font-size: 3rem; color: black;"></i>
              <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col"> <a href="/periodicalsect" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-primary mb-3 text-white" style="background-color: #0039a6; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
          <div class="card-body">
            <h5 class="card-title"><strong>Periodical Collections</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between"> <i class="bi bi-journals"
                style="font-size: 3rem; color:;"></i> <span class="text-center pl-2"
                style="font-size: 2rem; color:;"></span> </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col"> <a href="/technical" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #0076CE; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;" >
          <div class="card-body">
            <h5 class="card-title" style="color: white"><strong>Technical</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between"> <i class="bi bi-gear"
                style="font-size: 3rem; color:white;"></i> <span class="text-center pl-2"
                style="font-size: 2rem; color:white;"></span> </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col"> <a href="/circulation-opt" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #5D76A9; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
          <div class="card-body">
            <h5 class="card-title" style="color: white;"><strong>Circulation Transaction</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between"> <i class="bi bi-envelope-check-fill"
                style="font-size: 3rem; color: white;"></i> <span class="text-center pl-2"
                style="font-size: 2rem; color: white;"></span> </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</body>

</html>