<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periodical Collection</title>
</head>

<body>

    <div class="container pt-5">
        <div class="row">
            <div class="col-6">
                <h1>Periodical Collection</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
                <div class="col">
                    <a href="/journal" class="text-decoration-none font-color-none text-reset">
                        <div class="card h-100 border-black mb-3"
                            style="background-color: #72A0C1; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
                            <div class="card-body">
                                <h5 class="card-title" style="color:black;"><strong>Journal Section
                                    </strong></h5>
                                <hr>
                                <div class="col-6 d-flex justify-content-between">
                                    <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col">
                    <a href="/magazine" class="text-decoration-none font-color-none text-reset">
                        <div class="card h-100 border-black mb-3"
                            style="background-color: #5072A7; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
                            <div class="card-body">
                                <h5 class="card-title" style="color:black;"><strong>Magazine Section
                                    </strong></h5>
                                <hr>
                                <div class="col-6 d-flex justify-content-between">
                                    <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col">
                    <a href="/newspaper" class="text-decoration-none font-color-none text-reset">
                        <div class="card h-100 border-black mb-3"
                            style="background-color: #B9D9EB; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
                            <div class="card-body">
                                <h5 class="card-title" style="color:black;"><strong>Newspaper Section
                                    </strong></h5>
                                <hr>
                                <div class="col-6 d-flex justify-content-between">
                                    <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</body>

</html>