<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technical</title>
</head>

<body>

<div class="container pt-5">
<div class="row">
  <div class="col-6"><h1>Technical</h1></div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
    <div class="col">
      <a href="/cataloging" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #72A0C1; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
          <div class="card-body">
            <h5 class="card-title" style="color:black;"><strong>Cataloging
</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between">
              <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/adduser" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #1F75FE; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
          <div class="card-body">
            <h5 class="card-title" style="color:black;"><strong>Register User
</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between">
              <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
            </div>
          </div>
        </div>
      </a>
    </div>

    
    <div class="col">
      <a href="/book-inventory" class="text-decoration-none font-color-none text-reset">
        <div class="card h-100 border-black mb-3" style="background-color: #5b8fcf; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; max-width: 400px">
          <div class="card-body">
            <h5 class="card-title" style="color:black;"><strong>Inventory
</strong></h5>
            <hr>
            <div class="col-6 d-flex justify-content-between">
              <span class="text-center pl-2" style="font-size: 2rem; color: black;"></span>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
  </div>
</body>

</html>